body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
ul{ 
  margin: 0;
  padding: .5%;;
  position:absolute;
  width: 100%;
  padding-left: 5%;

}
li{
  list-style:none;
  text-decoration: none;
 float: left;
 margin:5px 10px 5px 50px; ;
 padding: 5px 10px 5px 10px;
 
 border-radius: 5px;
 
 
}
ul li a{
  text-decoration: none;
  font-size: 30px;
  font-weight: 700;
  color: rgb(105, 122, 145);
}



section {
  position: relative;
  display: flex;
}
h1 {
  font-size: 60px;
  color: rgb(106, 107, 125);
  margin: 0;
  padding: 0;
}
.h1 {
  color: rgb(254, 79, 48);
}
h3 {
  font-size: 14px;
  color: rgb(132, 133, 155);
  font-weight: 100;
  padding-bottom: 20px;
}
h2 {
  color: rgb(106, 107, 125);
  
}

.half-width {
  width: 50%;
  padding: 0% 5% 0% 5%;
}
.half-width img {
  width: 100%;
}
.img {
  width: 110%;
}
.title {
  padding-top: 20%;
  padding-left: 10%;
}
.title-2{
    padding-top: 20%;
    padding-left: 10%;
  }
.button {
  text-decoration: none;
  padding: 15px 25px;
  border-radius: 25px;
  background-image: linear-gradient(
    to right bottom,
    rgb(247, 161, 146),
    rgb(250, 64, 31)
  );
  color: whitesmoke;
}
.button:hover {
  background: linear-gradient(
    to right bottom,
    rgb(138, 108, 103),
    rgb(145, 137, 137)
  );
}
.bg-2 { 
    background-size: 100%  100%;
  background-image:url(image/Frame\ 58.jpg); 
  

}
.trd-title{text-align: center;
    padding:  0% 25% ;
    margin-top: 2%;
    

}
.container {
    display: flex;
    width: 100%;
    margin: 0% 5% 5%  5%;
}
.container img{
    width: 100%;
    border-radius: 20px;
    
}

.box{
    text-align:center;
    
    margin: 2%;
    padding: 1%;
    border-radius: 15px;
    box-shadow: 5px 5px 20px 2px  rgb(141, 139, 139);
}
.box,.h2,.h3{
    text-align: left;
  color: black;
    
}
.box:hover{
   background: #FC8F49;
}
.Follower-container{
    display:flex;
    
    margin: 0% 7% 2% 7%;
    padding: 2%;
    border-radius: 15px;
    box-shadow: 5px 5px 20px 2px  rgb(141, 139, 139);
}
.follower{
    
    margin: 0% 5% 0% 8%; 
    
    
   
}
.follower h1, p { margin: 0;
    
    color: black

}
footer{
    color: ;
    background-color: rgb(5, 3, 12);
    padding: 1% 30% 5% 30% ;
    text-align: center;
}
.footer-text{
color: white;   
font-weight: 100; 
font-variant: small-caps;
}